*{
    margin: 0;
    padding: 0;
}

// VARIABLES
$primario: #363636;
$secundario: #ba9979;
$text: #ffffff;
// VARIABLES TEXTO
$titulo: 'Monserrat', sans-serif;
$textinfo: 'Roboto', sans-serif;

// NAVBAR
.navbar{
    .container-fluid{
        .navbar-brand{
            img{
                width: 50px;
            }
        }
        .collapse{
            .navbar-nav{
                .dropdown{
                    .dropdown-menu{
                        background: $secundario;
                        .dropdown-item{
                            color: $text;
                        }
                        .dropdown-item:hover{
                            background: none;
                        }
                    }
                }
            }
        }
    }
}
// PRODUCTO
.producto{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #081434;
    color: $text;
    .producto--info{
        h1{
            font-family: $textinfo;
            font-weight: 700;
        }
        .producto--info--boton{
            a{
                text-decoration: none;
                background: #ba9979;
                color: #ffffff;
                margin: 35px 20px 0 0;
                padding: 10px 35px;
                border-radius: 5px;
            }
        }
    }
    .producto--img{
        display: flex;
        align-items: center;
        justify-items: center;
        img{
            width: 450px;
        }
    }
}
.producto{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 570px;
    grid-column-gap: 20px;
}


// FOOTER
// FOOTER FLEX & STYLES
footer{
    display: flex;
    justify-content: center;
    background: #363636;
    .footer--item{
        .footer--brand{
            .footer--brand--img{
                display: flex;
                justify-content: center;
                padding-bottom: 10px;
                img{
                    width: 50px;
                }
            }
            .footer--brand--social{
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    padding: 0;
                    li{
                        list-style: none;
                        padding: 0;
                        a{
                            i{
                                color: $secundario;
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }

        .footer--item--navegacion{
            h4{
                color: $text;
            }
            .sitio--list{
                ul{
                    list-style-type: none;
                    padding: 0;
                    li{
                        list-style-type: none;
                        a{
                            text-decoration: none;
                            color: $secundario;
                        }
                    }
                }
            }
        }
        .footer--item--contacto{
            h4{
                color: $text;
            }
            .contacto--list{
                ul{
                    list-style-type: none;
                    padding: 0;
                    li{
                        list-style-type: none;
                        padding: 0;
                        a{
                            text-decoration: none;
                            color: $secundario;
                        }
                    }
                }
            }
        }
    }
}

// FOOTER GRID
footer{
    display: grid;
    grid-template-columns: 300px 200px 300px;
    grid-template-rows: 200px;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .producto{
        .producto--img{
            display: flex;
            align-items: center;
            justify-items: center;
            img{
                width: 220px;
            }
        }
    }
    // PRODUCTO GRID
    .producto{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 200px 300px;
        grid-column-gap: 20px;
    }
    
    // FOOTER GRID
    footer{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 170px 150px 150px;
    }

}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    // FOOTER GRID
    footer{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 170px 150px 150px;
    }
}