*{
    margin: 0;
    padding: 0;
}
// VARIABLES
$primario: #363636;
$secundario: #ba9979;
$text: #ffffff;
// VARIABLES TEXTO
$titulo: 'Monserat' sans-serif;
$textinfo: 'Roboto', sans-serif;

// NAVBAR
.navbar{
    .container-fluid{
        .navbar-brand{
            img{
                width: 50px;
            }
        }
        .collapse{
            .navbar-nav{
                .dropdown{
                    .dropdown-menu{
                        background: $secundario;
                        .dropdown-item{
                            color: $text;
                        }
                        .dropdown-item:hover{
                            background: none;
                        }
                    }
                }
            }
        }
    }
}

// HEADER
// HEADER FLEX & STYLES
.header--contacto{
    display: flex;
    justify-content: center;
    background: $primario;
    color: $text;
    .header--contacto--link{
        .header--contacto--social{
            .header--contacto--social--items{
                ul{
                    list-style-type: none;
                    padding: 0;
                    li{
                        list-style-type: none;
                        padding: 0;
                        a{
                            text-decoration: none;
                            color: $text;
                            i{
                                color: $secundario;
                            }
                        }
                    }
                }
            }
        }
        .header--contacto--telefono{
            .header--contacto--telefono--items{
                ul{
                    list-style-type: none;
                    padding: 0;
                    li{
                        list-style-type: none;
                        padding: 0;
                        a{
                            text-decoration: none;
                            color: $text;
                            i{
                                color: $secundario;
                            }
                        }
                    }
                }
            }
        }
    }
}
// HEADER GRID
.header--contacto{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 400px;
}


// FORMULARIO 
// FORMULARIO FLEX & STYLES
.newsleter{
    display: flex;
    justify-content: center;
    padding-top: 45px;
    height: 300px;
    background: #1e101e;
    color: $secundario;
    .newsleter--form{
        form{
            display: flex;
            flex-direction: column;
            input{
                background: none;
                border: none;
                margin-bottom: 15px;
            }
            input[type=text]:focus{
                outline: none;
                background: #ba9979;
                color: $text;
            }
            input[type=email]:focus{
                outline: none;
                background: #ba9979;
                color: $text;
            }
            input[type=submit]{
                background: #ba9979;
                color: $text;
                border-radius: 5px;
            }
        }
    }
}
// FORMULARIO GRID
.newsleter{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px;
}
// FOOTER
// FOOTER FLEX & STYLES
footer{
    display: flex;
    justify-content: center;
    background: #363636;
    .footer--item{
        .footer--brand{
            .footer--brand--img{
                display: flex;
                justify-content: center;
                padding-bottom: 10px;
                img{
                    width: 50px;
                }
            }
            .footer--brand--social{
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    padding: 0;
                    li{
                        list-style: none;
                        padding: 0;
                        a{
                            i{
                                color: $secundario;
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }

        .footer--item--navegacion{
            h4{
                color: $text;
            }
            .sitio--list{
                ul{
                    list-style-type: none;
                    padding: 0;
                    li{
                        list-style-type: none;
                        a{
                            text-decoration: none;
                            color: $secundario;
                        }
                    }
                }
            }
        }
        .footer--item--contacto{
            h4{
                color: $text;
            }
            .contacto--list{
                ul{
                    list-style-type: none;
                    padding: 0;
                    li{
                        list-style-type: none;
                        padding: 0;
                        a{
                            text-decoration: none;
                            color: $secundario;
                        }
                    }
                }
            }
        }
    }
}

// FOOTER GRID
footer{
    display: grid;
    grid-template-columns: 300px 200px 300px;
    grid-template-rows: 200px;
}


// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    // HEADER GRID
    .header--contacto{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 200px 300px;
    }
    // FORMULARIO FLEX & STYLES
    .newsleter{
        height: 410px;
    }
    // FORMULARIO GRID
    .newsleter{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 150px 300px;
    }
    // FOOTER GRID
    footer{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 170px 150px 150px;
    }

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    // HEADER GRID
    .header--contacto{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 200px 300px;
    }
    // FORMULARIO FLEX & STYLES
    .newsleter{
        height: 410px;
    }
    // FORMULARIO GRID
    .newsleter{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 150px 300px;
    }
    // FOOTER GRID
    footer{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 170px 150px 150px;
    }
}

